# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\广东科技学院\上课\2022-2023-2\Java EE 框架技术\code\chapter12\2\springmvc202304010956\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
